body {
    background-color: #2e2236;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  #logo {
background-color: #2e2236;
  }

  #logo img {
    max-width: 250px;
    height:auto;
    display: block;
    margin:0 auto;
  }
  
  #text {
    background-color: #2e2236;
    color: #ffffff;
    padding: 1rem;
    font-size:1.2rem;
  }
  
  #game {
    max-width: 500px;
    height: auto;
    background-color: #ffffff;
    color: #ffffff;
    margin: 0 auto;
    border: 1px solid #fff;
  }
  
  #controls {
    border: 1px solid #2e2236;
    padding: 1rem;
    text-align: center;
    color: #2e2236;
  }

  #stats {
    border: 1px solid #2e2236;
    padding: 1rem;
    text-align: center;
    color: #2e2236;
  }
  
  #monsterStats {
    display: none;
    border: 1px solid #2e2236;
    padding: 1rem;
    color: #ffffff;
    background-color: #c70d0d;
  }
  
  .stat {
    padding-right: 10px;
  }
  
  button {
    cursor: pointer;
    color: #2e2236;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
    font-size: 1rem;
    padding: .8rem 1rem;
    margin: 8px;
  }